@charset "UTF-8";
html {
  font-size: 16px;
  font-family: 'Sumana', serif;
  color: #484848; }
  @media screen and (min-width: 300px) {
    html {
      font-size: 18px;
      line-height: 1.25; } }

body {
  margin: 0;
  overflow-x: hidden; }

.heading, h1, h2, h3, h4 {
  margin: 0;
  font-family: 'Droid Sans', sans-serif; }

h1 {
  font-size: 2.75rem; }

h3 {
  font-size: 2rem; }

/*p {
  font-size: .75rem;
}*/
ul li {
  margin-bottom: 0.75rem;
  list-style: none;
  position: relative; }
  ul li:before {
    content: '●';
    position: absolute;
    top: 0;
    left: -20px; }

a {
  color: #408CCC; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

.btn {
  background: #F0F0F0;
  display: inline-block;
  padding: 0.5rem;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: .2rem; }
  .btn.btn-block {
    display: block; }

section {
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  position: relative; }
  section > p {
    margin-top: 0; }
  section.vh75 {
    height: 75vh; }
  section.vh50 {
    height: 50vh; }

.hero {
  position: absolute;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  text-align: center;
  top: 0;
  transform: scale(0.75); }
  @media screen and (min-width: 768px) {
    .hero {
      width: 578px;
      margin-left: -284px;
      top: 15%; } }

.color-invert {
  color: #fff; }

.image-testing-header {
  margin: 20px;
  padding: 20px 0;
  text-align: center; }

ul.clear-styles, ul.clear-styles li {
  margin: 0;
  padding: 0;
  list-style: none; }

.margin-top-none {
  margin-top: 0; }

.margin-bottom-none, ul:last-child {
  margin-bottom: 0; }

.margin-no {
  margin: 0; }

.margin-xsm-top {
  margin-top: 0.5rem; }

.margin-xsm-right {
  margin-right: 0.5rem; }

.margin-xsm-bottom {
  margin-bottom: 0.5rem; }

.margin-xsm-left {
  margin-left: 0.5rem; }

.margin-sm-top {
  margin-top: 0.75rem; }

.margin-sm-right {
  margin-right: 0.75rem; }

.margin-sm-bottom {
  margin-bottom: 0.75rem; }

.margin-sm-left {
  margin-left: 0.75rem; }

.margin-md-top {
  margin-top: 1rem; }

.margin-md-right {
  margin-right: 1rem; }

.margin-md-bottom {
  margin-bottom: 1rem; }

.margin-md-left {
  margin-left: 1rem; }

.margin-lg-top {
  margin-top: 1.5rem; }

.margin-lg-right {
  margin-right: 1.5rem; }

.margin-lg-bottom {
  margin-bottom: 1.5rem; }

.margin-lg-left {
  margin-left: 1.5rem; }

.margin-xlg-top {
  margin-top: 2rem; }

.margin-xlg-right {
  margin-right: 2rem; }

.margin-xlg-bottom {
  margin-bottom: 2rem; }

.margin-xlg-left {
  margin-left: 2rem; }

.margin-xxlg-top {
  margin-top: 2.75rem; }

.margin-xxlg-right {
  margin-right: 2.75rem; }

.margin-xxlg-bottom {
  margin-bottom: 2.75rem; }

.margin-xxlg-left {
  margin-left: 2.75rem; }

.off-canvas-trigger {
  display: none; }

@media screen and (min-width: 250px) and (max-width: 760px) {
  .off-canvas {
    padding-top: 50px;
    position: relative;
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease; }
    .off-canvas .off-canvas-trigger {
      position: absolute;
      display: table-cell;
      left: 0;
      top: 0;
      text-decoration: none;
      padding: 13px;
      background: #484848;
      color: #F0F0F0;
      height: 50px;
      width: 50px;
      box-sizing: border-box;
      vertical-align: middle; }
    .off-canvas .site-nav {
      position: absolute;
      height: 100%;
      left: -50%;
      width: 50%;
      top: 0; }
    .off-canvas.open {
      transform: translate3d(50%, 0, 0);
      transition: transform 500ms ease; }
      .off-canvas.open .off-canvas-trigger {
        opacity: 1;
        transition: opacity 400ms ease-in;
        background: #FF6F69; } }

@media screen and (min-width: 768px) {
  .off-canvas {
    padding-top: 80px; } }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  width: 100%; }
  .site-header .header-logo {
    font-size: 26px;
    font-family: 'Droid Sans', sans-serif; }
  @media screen and (min-width: 768px) {
    .site-header {
      text-align: left;
      padding: 25px 20px;
      width: auto; } }

.site-nav .btn {
  margin-right: 5px; }
  .site-nav .btn:before {
    content: '';
    display: block;
    height: 5px;
    width: 0;
    position: absolute;
    left: 50%;
    top: 0;
    opacity: 0;
    transition: all 300ms ease-in;
    background-image: -o-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
    background-image: linear-gradient(to left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%); }
  .site-nav .btn:hover:before {
    transition: all 300ms ease-in;
    width: 100%;
    left: 0;
    opacity: 1; }
  .site-nav .btn.link-resume:hover:before {
    background: #408CCC; }
  .site-nav .btn.link-prototypes:hover:before {
    background: #96CEB4; }

@media screen and (max-width: 760px) {
  .site-nav .btn {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .site-nav {
    padding: 20px 240px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    z-index: 2; } }

.background-image {
  background-repeat: no-repeat; }
  .background-image.size-cover {
    background-size: cover; }
  .background-image.x-center {
    background-position-x: center; }
  .background-image.y-center {
    background-position-y: center; }
  .background-image.y-top {
    background-position-y: top; }
  @media screen and (min-width: 768px) {
    .background-image.fixed {
      background-attachment: fixed; } }
  @media screen and (min-width: 768px) {
    .background-image.scroll {
      background-attachment: scroll; } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px), (min-device-width: 736px) {
    .background-image.aurora-borealis {
      background-image: url(/images/aurora-borealis/aurora-borealis.jpeg); } }
  @media (device-aspect-ratio: 16 / 10), (device-aspect-ratio: 10 / 16) {
    .background-image.aurora-borealis {
      background-image: url(/images/aurora-borealis/aurora-borealis.jpeg); } }
  @media (device-aspect-ratio: 4 / 3), (device-aspect-ratio: 3 / 4) {
    .background-image.aurora-borealis {
      background-image: url(/images/aurora-borealis/aurora-borealis.jpeg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px), (min-device-width: 736px) {
    .background-image.bokeh {
      background-image: url(/images/bokeh/BF-Bokeh_1492x1492.jpg); } }
  @media (device-aspect-ratio: 16 / 10), (device-aspect-ratio: 10 / 16) {
    .background-image.bokeh {
      background-image: url(/images/bokeh/BF-Bokeh_2000x2000.jpg); } }
  @media (device-aspect-ratio: 4 / 3), (device-aspect-ratio: 3 / 4) {
    .background-image.bokeh {
      background-image: url(/images/bokeh/BF-Bokeh_2000x2000.jpg); } }
  @media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px), (min-device-width: 736px) {
    .background-image.banner-one {
      background-image: url(/images/banner-one/Image-Test_1492x1492_q8.jpg); } }
  @media (device-aspect-ratio: 16 / 10), (device-aspect-ratio: 10 / 16) {
    .background-image.banner-one {
      background-image: url(/images/banner-one/Image-Test_2000x2000_q8.jpg); } }
  @media (device-aspect-ratio: 4 / 3), (device-aspect-ratio: 3 / 4) {
    .background-image.banner-one {
      background-image: url(/images/banner-one/Image-Test_2000x2000_q8.jpg); } }

/*.time-crop {
    margin-bottom: 18px;
    display: block;
    height: 75px;
    overflow:hidden;
}*/
.time {
  display: block;
  position: relative;
  margin: 0 auto 18px;
  height: 200px;
  width: 200px;
  background-image: url(../images/time-c.jpg);
  border-radius: 24rem;
  transition: all 300ms ease-in;
  box-shadow: inset 0px 0px 0px 5px rgba(225, 225, 225, 0.5); }

