.background-image {
    background-repeat: no-repeat;
    &.size-cover {
        background-size: cover;
    }
    &.x-center {
        background-position-x: center;
    }
    &.y-center {
        background-position-y: center;
    }
    &.y-top {
        background-position-y: top;
    }
    &.fixed {
        @media screen and (min-width: 768px) {
            background-attachment: fixed;
        }
    }
    &.scroll {
        @media screen and (min-width: 768px) {
            background-attachment: scroll;
        }
    }
    &.aurora-borealis {
        // ratio mobile
        @media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px), (min-device-width: 736px) {
            background-image: url(#{$base-path}images/aurora-borealis/aurora-borealis.jpeg);
        }
        
        // ratio 16/10 - Samsung/Google Nexus 10
        @media (device-aspect-ratio: 16/10), (device-aspect-ratio: 10/16) {
            background-image: url(#{$base-path}images/aurora-borealis/aurora-borealis.jpeg);
        }

        // ratio 3/4 - iPad
        @media (device-aspect-ratio: 4/3), (device-aspect-ratio: 3/4) {
            background-image: url(#{$base-path}images/aurora-borealis/aurora-borealis.jpeg);
        }
    }
    &.bokeh {
        // ratio mobile
        @media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px), (min-device-width: 736px) {
            background-image: url(#{$base-path}images/bokeh/BF-Bokeh_1492x1492.jpg);
        }
        
        // ratio 16/10 - Samsung/Google Nexus 10
        @media (device-aspect-ratio: 16/10), (device-aspect-ratio: 10/16) {
            background-image: url(#{$base-path}images/bokeh/BF-Bokeh_2000x2000.jpg);
        }

        // ratio 3/4 - iPad
        @media (device-aspect-ratio: 4/3), (device-aspect-ratio: 3/4) {
            background-image: url(#{$base-path}images/bokeh/BF-Bokeh_2000x2000.jpg);
        }
    }
    &.banner-one {
        // ratio mobile
        @media (-webkit-min-device-pixel-ratio: 2) and (min-device-width: 320px), (min-device-width: 736px) {
            background-image: url(#{$base-path}images/banner-one/Image-Test_1492x1492_q8.jpg);
        }
        
        // ratio 16/10 - Samsung/Google Nexus 10
        @media (device-aspect-ratio: 16/10), (device-aspect-ratio: 10/16) {
            background-image: url(#{$base-path}images/banner-one/Image-Test_2000x2000_q8.jpg);
        }

        // ratio 3/4 - iPad
        @media (device-aspect-ratio: 4/3), (device-aspect-ratio: 3/4) {
            background-image: url(#{$base-path}images/banner-one/Image-Test_2000x2000_q8.jpg);
        }
    }
}


.time {
    display: block;
    position: relative;
    margin: 0 auto 18px;
    height: 200px;
    width: 200px;
    background-image: url(#{$base-path}images/time-c.jpg);
    border-radius: 24rem;
    transition: all 300ms ease-in;
    box-shadow: inset 0px 0px 0px 5px rgba(225,225,225, .5)
}