.site-nav {
    position: fixed;
    width: $half;
    top: 0;
    transition: all 500ms ease;
    opacity: 0;
    transition: all 700ms ease;
    left: -50%;

    .btn {
        margin-right: 5px;
        &:before {
            content: '';
            display: block;
            height: 5px;
            width: 0;
            position: absolute;
            left: 50%;
            top: 0;
            opacity: 0;
            transition: all 300ms ease-in;
            background-image: -o-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
            background-image: -moz-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
            background-image: -webkit-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
            background-image: -ms-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
            background-image: linear-gradient(to left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
        }
        &:hover:before {
            transition: all 300ms ease-in;
            width: 100%;
            left: 0;
            opacity: 1;
        }
        
        &.link-resume {
            &:hover:before {
                background: $color-link;
            }
        }
        &.link-prototypes {
            &:hover:before {
                background: $color-tertiary;
            }
        }
    }
}