
html {
    font-size: $base-size;   // 1rem = 16px
    font-family: 'Droid Sans', sans-serif;
    color: $color-dark-gray;
    @media screen and (min-width: 300px) {
        font-size: 18px;
        line-height: 1.25;
    }
    @media screen and (min-width: 570px) {
        //font-size: 15px;
    }
    @media screen and (min-width: 620px) {
        // font-size: 32px;
        // line-height: 36px;
    }
    @media screen and (min-width: 680px) {
        //font-size: 22px;
    }
    @media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        //font-size: 16px;
    }
}

body {
    margin: 0;
}

.heading {
    margin: 0;
}

h1 {
    @extend .heading;
    font-size: 2.75rem;
}

h2 {
    @extend .heading;
}

h3 {
    @extend .heading;
}

h4 {
    @extend .heading;
}

/*p {
  font-size: .75rem;
}*/

ul {
    //font-size: .75rem;
    li {
        margin-bottom: $md-spacing;
    }
    &:last-child {
        @extend .margin-bottom-none; 
    }
}

a {
    color: $color-link;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}