@import '_variables.scss';



section {
    padding: $md-sizing;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    > p {
        margin-top: 0;
    }
    &.vh75 {
        height: 75vh;
    }
    &.vh50 {
        height: 50vh;
    }
    &.vh100 {
        //height: calc(100vh - #{$xlg-sizing} * 2);
    }
    @include bp(tablet) { 
        padding: $xlg-sizing;
    }
    @include bp(desktop) {
        padding: $xxlg-sizing;
    }
}

.hero {
    position: absolute;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    text-align: center;
    top: 0;
    @include bp(mobile) { 
        top: 8%;
    }
    @include bp(tablet) { 
        width: 578px;
        margin-left: -284px;
        top: 15%;
    }
    @include bp(desktop) {
    
    }

}