@import '_variables.scss';



section {
    padding: $xlg-spacing;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    > p {
        margin-top: 0;
    }
    &.vh75 {
        height: 75vh;
    }
    &.vh50 {
        height: 50vh;
    }
    &.vh100 {
        //height: calc(100vh - #{$xlg-spacing} * 2);
    }

}

.hero {
    position: absolute;
    width: 578px;
    left: 50%;
    margin-left: -284px;
    text-align: center;
    top: 15%;
}


/*section {
    padding: 0;
    position: relative;
    display: flexbox;
    min-width: calc(100vw - 40px);
    min-height: calc(100vh - 40px);
    background: $color-medium-lite;
    box-sizing: border-box;
    padding: 20px;
    background: $color-medium-lite;
    margin: 20px;
    align-items: center;
    > p {
        margin-top: 0;
    }
}*/