section {
    padding: 0;
    position: relative;
    display: flexbox;
    min-width: calc(100vw - 40px);
    min-height: calc(100vh - 40px);
    background: $color-medium-lite;
    box-sizing: border-box;
    padding: 20px;
    background: $color-medium-lite;
    margin: 20px;
    align-items: center;
    > p {
        margin-top: 0;
    }
}