.color-invert {
    color: #fff;
}

.image-testing-header {
    margin: 20px;
    padding: 20px 0;
    text-align: center;
}

.margin-top-none {
    margin-top: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}