// sizes
$base-size: 16px;

$xsm-spacing: .5rem;
$sm-spacing: .75rem;
$md-spacing: 1rem;
$lg-spacing: 1.5rem;
$xlg-spacing: 2rem;
$xxlg-spacing: 3rem;

// font
$font-family-serif: 'Old Standard TT', serif;
$font-family-sans-serif: 'Ubuntu', sans-serif;

// colors
// kuler profile: http://tinyurl.com/pr5npu2
$color-link: #408CCC;
$color-primary: #FF6F69;
$color-secondary: #FFCC5C;
$color-secondary-light: #FFEEAD;
$color-tertiary: #96CEB4;
$color-tertiary-light: #AAD8B0;
$color-black: #000000;
$color-white: #fff;
$color-dark-gray: #484848;
$color-medium-gray: #989898;
$color-medium-lite: #F0F0F0;

$header-height: 60px;