.site-nav {
    
    .btn {
        margin-right: 5px;
        &:before {
            content: '';
            display: block;
            height: 5px;
            width: 0;
            position: absolute;
            left: 50%;
            top: 0;
            opacity: 0;
            transition: all 300ms ease-in;
            background-image: -o-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
            background-image: -moz-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
            background-image: -webkit-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
            background-image: -ms-linear-gradient(left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
            background-image: linear-gradient(to left, #FF6E69 0%, #FFFFFF 0%, #FF8F89 50%, #FF8F89 50%, #FFFFFF 100%);
        }
        &:hover:before {
            transition: all 300ms ease-in;
            width: 100%;
            left: 0;
            opacity: 1;
        }
        
        &.link-resume {
            &:hover:before {
                background: $color-link;
            }
        }
        &.link-prototypes {
            &:hover:before {
                background: $color-tertiary;
            }
        }
    }
    @media screen and (max-width: 760px) {
        .btn {
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        padding: 20px 240px;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        box-sizing: border-box;
        z-index: 2;
    }
}