.site-header {
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    width: 100%;
    .header-logo {
        font-size: 26px;
        font-family: 'Droid Sans', sans-serif;
    }
    @media screen and (min-width: 768px) {
        text-align: left;
        padding: 25px 20px;
        width: auto;
        
    }
}