.color-invert {
    color: #fff;
}

.image-testing-header {
    margin: 20px;
    padding: 20px 0;
    text-align: center;
}

ul {
    &.clear-styles {
        &, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}

.margin-top-none {
    margin-top: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.margin-no {
    margin: 0;
}


@include spacing(margin, 'xsm', $xsm-sizing, 'top');
@include spacing(margin, 'xsm', $xsm-sizing, 'right');
@include spacing(margin, 'xsm', $xsm-sizing, 'bottom');
@include spacing(margin, 'xsm', $xsm-sizing, 'left');

@include spacing(margin, 'sm', $sm-sizing, 'top');
@include spacing(margin, 'sm', $sm-sizing, 'right');
@include spacing(margin, 'sm', $sm-sizing, 'bottom');
@include spacing(margin, 'sm', $sm-sizing, 'left');

@include spacing(margin, 'md', $md-sizing, 'top');
@include spacing(margin, 'md', $md-sizing, 'right');
@include spacing(margin, 'md', $md-sizing, 'bottom');
@include spacing(margin, 'md', $md-sizing, 'left');

@include spacing(margin, 'lg', $lg-sizing, 'top');
@include spacing(margin, 'lg', $lg-sizing, 'right');
@include spacing(margin, 'lg', $lg-sizing, 'bottom');
@include spacing(margin, 'lg', $lg-sizing, 'left');

@include spacing(margin, 'xlg', $xlg-sizing, 'top');
@include spacing(margin, 'xlg', $xlg-sizing, 'right');
@include spacing(margin, 'xlg', $xlg-sizing, 'bottom');
@include spacing(margin, 'xlg', $xlg-sizing, 'left');

@include spacing(margin, 'xxlg', $xxlg-sizing, 'top');
@include spacing(margin, 'xxlg', $xxlg-sizing, 'right');
@include spacing(margin, 'xxlg', $xxlg-sizing, 'bottom');
@include spacing(margin, 'xxlg', $xxlg-sizing, 'left');
