// Base Styles
@import '../base/_variables.scss';
@import '../base/_mixins.scss';
@import '../base/_core.scss';
@import '../base/_helper-classes.scss';



.off-canvas {
    height: 100vh;

    @include bp(mobile-portrait) { 
        background: $color-primary;
    }
    @include bp(mobile-landscape) { 
        background: $color-secondary; 
    }
    @include bp(tablet) { 
        background: $color-tertiary; 
    }
    @include bp(desktop) { 
        background: $color-medium-gray;
    }
}
