// Base Styles
@import '../base/_variables.scss';
@import '../base/_mixins.scss';
@import '../base/_core.scss';
@import '../base/_helper-classes.scss';


$media-query-toggle: true;

@mixin bp($point) {
    @if ($media-query-toggle) {
        $break-mobile-portrait: "(max-width: 414px)";
        $break-mobile-landscape: "(min-width: 415px) and (max-width: 736px)";
        $break-tablet: "(min-width: 737px) and (max-width: 1280px)";
        $break-desktop: "(min-width: 1281px)";
        // mobile portrait: iPhone 5-6+
        @if $point == mobile-portrait {
            @media #{$break-mobile-portrait} {
                @content;
            }
        }
        // mobile landscape: iPhone 5-6+
        @else if $point == mobile-landscape {
            @media #{$break-mobile-landscape} {
                @content;
            }
        }
        // tablet: iPad, Nexus 10
        @else if $point == tablet {
            @media #{$break-tablet} {
                @content;
            }
        }
        // desktop
        @else if $point == desktop {
            @media #{$break-desktop} {
                @content;
            }
        }
    }
}

.off-canvas {
    height: 100vh;

    @include bp(mobile-portrait) { 
        background: $color-primary;
    }
    @include bp(mobile-landscape) { 
        background: $color-secondary; 
    }
    @include bp(tablet) { 
        background: $color-tertiary; 
    }
    @include bp(desktop) { 
        background: $color-medium-gray;
    }
}
